<h2>New Contact</h2>

<form action="/toys" method="POST">
  <p>Product: <input type="text" name="product"></p>
  <p>Price: <input type="text" name="price"></p>
  <p>Stock: <input type="text" name="stock"></p>
  <input type="submit" value="Create">
  <button><a href="/toys">Cancel</a></button>
</form>
